img {
  height:auto;
  border-radius: 50%;
  max-width: 200px;
  filter: grayscale(0%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img:hover {
  filter: grayscale(100%);
}
body {
  background-color: #121212;
  font-family: "Comic Neue";
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
p {
  font-size: 21px;
}
.quote {
  font-size:20px;
  padding: 10px;
}
h1 a {
  font-size: 35px;
  text-decoration: None;
  color: white;
}
h1 {
  margin: 0;
  padding: 10px;
}
a {
  color: white;
  text-decoration: None;
  padding: 0;
}
a:hover {
  color:  #61afef;
  text-decoration: underline;
}
TT {
  font-family: "Comic Neue";
  padding: 0;
  font-size: 15px;
}
footer {
  font-size: 10px;
  padding: 50px;
}
.icon {
  padding:30px;
  color:white;
}
.uname {
  padding:0;
  margin:0;
}
.main {
  border: 4px solid grey;
  background-color: black;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
}